<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

</head>
<body>
<h2>Hey, Welcome!!!</h2>
<div>
    <form action="/withdrawal">
        Withdrawal :<input type="submit"  value="Submit"></input>
    </form>

    <form action="/deposit">
        Deposit :<input type="submit"  value="Submit"></input>
    </form>

    <form action="/accountForm">
        Check Balance :<input type="submit"  value="Submit"></input>
    </form>

</div>
</body>
</html>